

h1 {
    text-align: center;
}


.custom-table {
    font-size: 20px;
    line-height:50px;
}

#unhide {
    margin: 2% 20%;
    font-size: 15px;
    float: right;
}

.custom-tbody td{
    padding: 0px 20%;
}

.custom-tbody .btn{
    display: none;
    padding: 5px;
    margin: 12px 10px;
}

.bi{
    font-size: 25px;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 2px black;
}

.hid{
    float: right;
}

.btn-link{
    float:right;
}
.hov{
    display: none;
}

td:hover .hov{
    display: inline;
}
td:hover .btn{
    display: inline;
}

.error-message{
    color: red;
}
