* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

#unhide {
    float: right;
    margin-right: 5%;
    font-size: 15px;
}

.list {
    padding: 5% 20%;
}

.clear {
    clear: both;
}

li {
    cursor: pointer;
    font-size: 20px;
    line-height: 50px;
    padding-left: 10px;
}

ul {
    list-style-type: none;
}

.btn {
    display: none;
    float: right;
    font-size: 15px;
    margin: 12px 0px;
}

.star {
    display: none;
    float: right;
    font-size: 25px;
    cursor: pointer;
    margin: 4px 20px;
}


.star:before {
    content: "\2606";
    position: relative;
    visibility: visible;
}

.star:checked:before {
    content: "\2605";
    position: absolute;
}

li:hover {
    background-color: rgb(180, 177, 177);
}

li:hover .star {
    display: inline;
    visibility: hidden;
}

li:hover .btn {
    display: inline;
}